@media (min-width: 992px) {
  .about-section h2::after {
    margin-left: 0;
  }
}

.timeline-wrapper {
  position: relative;
  margin-top: 30px;
}

.timeline-line {
  position: absolute;
  left: 27px; 
  top: 55px;
  bottom: 10px;
  width: 2px;
  background: #6c757d;
  z-index: 0;
}
.timeline-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;
  color: blue;
}
.dark-blue {
  color: #004c9a;
}
.icon-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  flex-shrink: 0;
  z-index: 1; 
}

.icon-circle.green { 
  background-color: #71c554; /* Solid Green Background */
  color: #ffffff; /* White Icon */
}

.icon-circle.blue { 
  background-color: #004c9a; /* Solid Dark Blue Background */
  color: #ffffff; /* White Icon */
}

.highlight-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.04);
  border: 1px solid #f1f5f9;
  height: 100%;
}

.highlight-icon {
  color: #72c84b; 
  font-size: 1.8rem;
  line-height: 1;
}

.highlight-card h6 {
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 5px;
  color: var(--brand-900);
}

.highlight-card p {
  font-size: 0.8rem;
  color: #6c757d;
  margin-bottom: 0;
  line-height: 1.4;
}
